

#firsr button{
  margin: 5px 5px;
  margin-bottom: 8px;
}

#yo button{
  margin: 5px 5px;
  margin-bottom: 8px;
}


#third button{
  margin: 5px 5px;
  margin-bottom: 8px;
}


#forth button{
  margin: 5px 5px;
  margin-bottom: 8px;
}


#five button{
  margin: 5px 5px;
  margin-bottom: 8px;
}



#myBtn{
  background-image: url(robo.gif);
  width: 100px;
  height: 100px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-size: 100% 100%;
}
i{
  color: black!important;
}


#firsr,#yo , #third ,#forth,#five{
  display: none;
  text-transform: capitalize;
}
#start{
  margin-bottom: 10px;
}

.result{
  width: 100%;
  height: auto;
  background-color: #5cb85c;
  padding: 10px;
}




#firsta,#seca,#thirda,#fortha,#lasta,#g,#gf{
  display: none;
}








.containerchat {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.containerchat::after {
  content: "";
  clear: both;
  display: table;
}

.containerchat img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.containerchat img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
